<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/include/style.css" />
        <title>[[title]]</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/blog/index.html">Blog</a>
                <a href="/recipe/index.html">Recipes</a>
            </nav>
        </header>
        <h1>[[title]]</h1>
        <div id="main">
            <main>
                [[body]]
            </main>
            <aside>
                [[sidebar]]
            </aside>
        </div>
    </body>
</html>
