<!DOCTYPE html>
<html>
    <head>
        <title>[[title]]</title>
    </head>
    <body>
        <h1>[[title]]</h1>
        <main>
            <p class="prep-time">Prep Time: [[prep_time]]</p>
            <p class="cook-time">Cook Time: [[cook_time]]</p>
            [[description]]
            [[images]]
            <section>
                <h2>Ingredients</h2>
                <p>
                    [[ingredients]]
                </p>
            </section>
            <section>
                <h2>Method</h2>
                [[method]]
            </section>
        </main>
        <p>
            Back to <a href="[[index_url]]">index</a>.
        </p>
    </body>
</html>
